{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": ["./src"]
        }
      }
    ],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
