# Git
.git
.cache
.gitignore

# Config files
.dockerignore
.DS_Store

# Docker files
Dockerfile
docker-compose.yml

# Node packages
node_modules/

# Built sources
dist/
lib/

# local env files
.env.local
.env.*.local

# Log files
**/*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
